.home {
  width: 600px;
}

.search, .addtask, .tasklist, .counter {
  background-color: #0c0a12;
  border: 1px solid rgb(236, 124, 124);
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.search {
  margin-top: 1em;
}

.search, .addtask, .tasklist {
  margin-bottom: 1em;
}

.tasklist {
  flex-direction: column;
}

.individualTask {
  display: flex;
}

input {
  display: flex;
}

p {
  margin: 0;
}